
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>collage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
     <link rel="shortcut icon" href="imgs/t-logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/collage/bootstrap.min.css">
    <link rel="stylesheet" href="css/collage/owl.carousel.min.css">
    <link rel="stylesheet" href="css/collage/magnific-popup.css">
    <link rel="stylesheet" href="css/collage/font-awesome.min.css">
    <link rel="stylesheet" href="css/collage/themify-icons.css">
    <link rel="stylesheet" href="css/collage/nice-select.css">
    <link rel="stylesheet" href="css/collage/flaticon.css">
    <link rel="stylesheet" href="css/collage/gijgo.css">
    <link rel="stylesheet" href="css/collage/animate.css">
    <link rel="stylesheet" href="css/collage/slicknav.css">
    <link rel="stylesheet" href="css/collage/style.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/style.css">
    
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/6b245e2cb5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="container navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-logo ml-3"><img src="imgs/logo.png" width="35px" height="35px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-5"></div>
            <div class="collapse navbar-collapse ml-5" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="home.html" class="nav-link">الرئيسية</a>
                    </li>
                    <li class="nav-item active">
                        <a href="collage.html" class="nav-link">جامعى</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">ثانوى</a>
                    </li>
                    <li class="nav-item">
                        <a href="requests-send.html" class="nav-link">فرص عمل</a>
                    </li>
                    <li class="nav-item">
                        <a href="course.html" class="nav-link">دورات و تدريبات</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="sinin.html" class="btn menu-right-btn border">تسجيل الدخول</a>
                </form>
            </div>
        </nav>

        <div class="container-fluid p-0">
            <div class="site-content">
                <div class="bg-black-filter d-flex justify-content-center">
                   
                </div> 
            </div>
        </div>
    </header>


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
        
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="p-2 post">     
                    <div>
                        <input class="button2 p-2" type="submit" value="انشر الان" name="سجل الان" > 
                        <div class="photo">
                            <p >فيديو / صوره </p>
                            <i class="fas fa-photo-video"></i>
                        </div>   
                        <select class="select">
                                <option value="قسم"> اختار القسم</option>
                                <option value="قسم"> ولا حاجه </option>
                                <option value="قسم">فاشل</option>
                                <option value="قسم">  انت مش نافع</option>
                                </select>                
                    </div>
                    <input class="input2" type="text" name="username" placeholder="اكتب هنا" >
                  </div>  
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                        
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="imgs/14578.jpg" alt="">
                                
                            </div>

                            <div class="blog_details">
                               
                                    <h2>تعلم واسكت</h2>
                               
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.
                                    That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                   
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                            
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="imgs/course.png" alt="">
                                
                            </div>

                            <div class="blog_details">
                                
                                    <h2>تعلم واسكت</h2>
                               
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            

                            <div class="blog_details">
                               
                                    <h2>تعلم واسكت</h2>
                              
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">

                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_4.png" alt="">
                               
                            </div>

                            <div class="blog_details">
                               
                                    <h2>تعلم واسكت</h2>
                              
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                   
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_5.png" alt="">
                                
                            </div>

                            <div class="blog_details">
                               
                                    <h2>تعلم واسكت</h2>
                               
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                   
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                         <div class="row pagination-wrap">
                            
                            <div class="col-md-6 text-center text-md-left">
                                <div class="custom-pagination ml-auto">
                                <a href="#" class="prev">السابقه</a>
                                <div class="d-inline-block">
                                    <a  href="#" class="active">1</a>
                                    <a  href="#">2</a>
                                    <a  href="#">3</a>
                                    <a  href="#">4</a>
                                </div>
                                <a href="#" class="next">التاليه</a>
                                </div>
                            </div>
                            </div>
                          </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" style=" text-align: right;" class="form-control" placeholder='قم بالبحث'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'قم بالبحث'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">ابحث</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">كل الاقسام</h4>
                          
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                         <p>(37)</p>
                                        <p >تكنولوجيا المعلومات</p>
                                        
                                    </a>
                                </li>
                               <br>
                                <hr>
                                <li>
                                    <a href="#" class="d-flex">
                                          <p>(10)</p>
                                        <p> هندسه البرمجيات</p>
                                      
                                    </a>
                                </li>
                                <br>
                                <hr>
                                <li>
                                    <a href="#" class="d-flex">
                                         <p>(03)</p>
                                        <p> علوم الحاسب</p>
                                       
                                    </a>
                                </li>
                                <br>
                                <hr>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>(11)</p>
                                        <p>علوم الحاسب</p>
                                    </a>
                                </li>
                                <br>
                                <hr>
                            </ul>
                        </aside>

                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!-- footer start -->
    <footer class="footer">
       <div class="footer-slid">
            <div class="social-container">
            <a href="#" class="social-logo"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-logo"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-logo"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copy-right">&copy; Copywrites &#124; true_team FyTy 2019 - 2020</p>
            <div class="">
                    <a href="#" class="footer-link">الرئيسية</a>
                    <a href="#" class="footer-link">جامعى</a>
                    <a href="#" class="footer-link">ثانوى</a>
                    <a href="#" class="footer-link">فرص عمل</a>
                    <a href="#" class="footer-link">دورات و تدريبات</a>
            </div>
        </div>
    </footer>
    <!-- footer end  -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
</body>
</html>