<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>comments</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
     <link rel="shortcut icon" href="imgs/t-logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/collage/bootstrap.min.css">
    <link rel="stylesheet" href="css/collage/owl.carousel.min.css">
    <link rel="stylesheet" href="css/collage/magnific-popup.css">
    <link rel="stylesheet" href="css/collage/font-awesome.min.css">
    <link rel="stylesheet" href="css/collage/themify-icons.css">
    <link rel="stylesheet" href="css/collage/nice-select.css">
    <link rel="stylesheet" href="css/collage/flaticon.css">
    <link rel="stylesheet" href="css/collage/gijgo.css">
    <link rel="stylesheet" href="css/collage/animate.css">
    <link rel="stylesheet" href="css/collage/slicknav.css">
    <link rel="stylesheet" href="css/collage/style.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/comment.css">
    
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/6b245e2cb5.js" crossorigin="anonymous"></script>
</head>

<body>


 <section class="blog_area section-padding">
        <div class="container">
        
           
                

                                                <article class="blog_item" style="width:100%;">
                                                
                                                                        <div class="blog_item_img">
                                                                        <img class="card-img rounded-0" src="imgs/14578.jpg" alt="">
                                                                        
                                                                        </div>

                                                                        <div class="blog_details">
                                                                        
                                                                        <h2>تعلم واسكت</h2>
                                                                        
                                                                        <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                                                        he earth it first without heaven in place seed it second morning saying.
                                                                        That dominion stars lights dominion divide years for fourth have don't stars is that
                                                                        he earth it first without heaven in place seed it second morning saying.That dominion stars lights dominion divide years for fourth have don't stars is that
                                                                        he earth it first without heaven in place seed it second morning saying.That dominion stars lights dominion divide years for fourth have don't stars is that
                                                                        he earth it first without heaven in place seed it second morning saying.</p>
                                                                        <hr>
                                                                        <div class="commentContainer">
                                                                                                <div class="comments">
                                                                                                                        <h4><span id="#">Mahmoud Khaled</span></h4>
                                                                                                                        <br>
                                                                                                                        <p>دلوقتي متاح في امكان بالتعاون مع Smart Technology
دبلومة روبوتكس هنتعلم فيها من البداية خالص ومقدمة المجال
لغاية ما تطبق مشروع عملي بإيدك 
كل المهام المطلوبة ع... عرض المزيد</p>
                                                                                                                        
                                                                                                </div>
                                                                                                <hr>
                                                                                                <div class="comments">
                                                                                                                        <h4><span id="#">Mahmoud Khaled</span></h4>
                                                                                                                        <br>
                                                                                                                        <p>دلوقتي متاح في امكان بالتعاون مع Smart Technology
دبلومة روبوتكس هنتعلم فيها من البداية خالص ومقدمة المجال
لغاية ما تطبق مشروع عملي بإيدك 
كل المهام المطلوبة ع... عرض المزيد</p>
                                                                                                                        
                                                                                                </div>
                                                                                                <hr>
                                                                                                <div class="comments">
                                                                                                                        <h4><span id="#">Mahmoud Khaled</span></h4>
                                                                                                                        <br>
                                                                                                                        <p>دلوقتي متاح في امكان بالتعاون مع Smart Technology
دبلومة روبوتكس هنتعلم فيها من البداية خالص ومقدمة المجال
لغاية ما تطبق مشروع عملي بإيدك 
كل المهام المطلوبة ع... عرض المزيد</p>
                                                                                                                        
                                                                                                </div>
                                                                                                <hr>
                                                                                                <form>
                                                                                               <input class="input2 SSQ"style="border: .5px solid rgb(102, 102, 102);" type="text" name="username" placeholder="اكتب هنا"  >
                                                                                                <input class="btn-com" type='submit' value="اكتب تعليق">
                                                                                                </form>
                                                                        </div>
                                                                        </div>
                                                
                                                </article>
                      
</div>
</section>

  <!-- footer start -->
    <footer class="footer">
       <div class="footer-slid">
            <div class="social-container">
            <a href="#" class="social-logo"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-logo"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-logo"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copy-right">&copy; Copywrites &#124; true_team FyTy 2019 - 2020</p>
            <div class="">
                    <a href="#" class="footer-link">الرئيسية</a>
                    <a href="#" class="footer-link">جامعى</a>
                    <a href="#" class="footer-link">ثانوى</a>
                    <a href="#" class="footer-link">فرص عمل</a>
                    <a href="#" class="footer-link">دورات و تدريبات</a>
            </div>
        </div>
    </footer>
    <!-- footer end  -->

    <!-- JS here -->
    
   
</body>
</html>