<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imgs/t-logo.png">
    <title>المسابقات</title>

    <!--links-->

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/6b245e2cb5.js" crossorigin="anonymous"></script>

    <!--cssFiles-->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/start-button.css">
    <link rel="stylesheet" href="css/contest-travel.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">

</head>
<body>
    <header>
        <nav class="container navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-logo ml-3"><img src="imgs/logo.png" width="35px" height="35px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-5"></div>
            <div class="collapse navbar-collapse ml-5" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="home.html" class="nav-link">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a href="collage.html" class="nav-link">جامعى</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">ثانوى</a>
                    </li>
                    <li class="nav-item">
                        <a href="requests-send.html" class="nav-link">فرص عمل</a>
                    </li>
                    <li class="nav-item">
                        <a href="course.html" class="nav-link">دورات و تدريبات</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="sinin.html" class="btn menu-right-btn border">تسجيل الدخول</a>
                </form>
            </div>
        </nav>

        <div class="container-fluid p-0">
            <div class="site-content">
                <div class="bg-black-filter d-flex justify-content-center">
                    <section id="section07" class="demo">
                        <a href="#section08"><span></span><span></span><span></span>اسحب</a>
                    </section>  
                </div> 
            </div>
        </div>
    </header>

    <div class="events container" id="section08">
            <div class="events-cell col-md-5">
                <img class="event-photo" src="imgs/img.jpeg">
                <div class="event-date">
                    <div class="event-day">
                        <p class="day">5</p>
                        <hr class="date-div">
                    </div>
                    <p class="month">NOV</p>
                </div>
                <p class="event-title">اسم المسابقة</p>
                <i class="fas fa-clock clc" title="وقت المسابقة"></i>
                <p class="event-time">الساعة 4:30 م</p>
                <i class="fas fa-chart-line prd" title="مدة المسابقة"></i>
                <p class="event-period">لمدة 3 أيام</p>
                <i class="fas fa-map-marker-alt loc" title="مكان المسابقة"></i>
                <p class="event-loc">امام البوابة الرئيسية لجامعة كفر الشيخ </p>
                <input type="button" value="الجائزة" class="event-button price">
                <input type="button" value="شارك الأن" class="event-button">
            </div>
            <div class="events-cell col-md-5">
                <img class="event-photo" src="imgs/img.jpeg">
                <div class="event-date">
                    <div class="event-day">
                        <p class="day">5</p>
                        <hr class="date-div">
                    </div>
                    <p class="month">NOV</p>
                </div>
                <p class="event-title">اسم المسابقة</p>
                <i class="fas fa-clock clc" title="وقت المسابقة"></i>
                <p class="event-time">الساعة 4:30 م</p>
                <i class="fas fa-chart-line prd" title="مدة المسابقة"></i>
                <p class="event-period">لمدة 3 أيام</p>
                <i class="fas fa-map-marker-alt loc" title="مكان المسابقة"></i>
                <p class="event-loc">امام البوابة الرئيسية لجامعة كفر الشيخ </p>
                <input type="button" value="الجائزة" class="event-button price">
                <input type="button" value="شارك الأن" class="event-button">
            </div>
            <div class="events-cell col-md-5">
                <img class="event-photo" src="imgs/img.jpeg">
                <div class="event-date">
                    <div class="event-day">
                        <p class="day">5</p>
                        <hr class="date-div">
                    </div>
                    <p class="month">NOV</p>
                </div>
                <p class="event-title">اسم المسابقة</p>
                <i class="fas fa-clock clc" title="وقت المسابقة"></i>
                <p class="event-time">الساعة 4:30 م</p>
                <i class="fas fa-chart-line prd" title="مدة المسابقة"></i>
                <p class="event-period">لمدة 3 أيام</p>
                <i class="fas fa-map-marker-alt loc" title="مكان المسابقة"></i>
                <p class="event-loc">امام البوابة الرئيسية لجامعة كفر الشيخ </p>
                <input type="button" value="الجائزة" class="event-button price">
                <input type="button" value="شارك الأن" class="event-button">
            </div>
            <div class="events-cell col-md-5">
                <img class="event-photo" src="imgs/img.jpeg">
                <div class="event-date">
                    <div class="event-day">
                        <p class="day">5</p>
                        <hr class="date-div">
                    </div>
                    <p class="month">NOV</p>
                </div>
                <p class="event-title">اسم المسابقة</p>
                <i class="fas fa-clock clc" title="وقت المسابقة"></i>
                <p class="event-time">الساعة 4:30 م</p>
                <i class="fas fa-chart-line prd" title="مدة المسابقة"></i>
                <p class="event-period">لمدة 3 أيام</p>
                <i class="fas fa-map-marker-alt loc" title="مكان المسابقة"></i>
                <p class="event-loc">امام البوابة الرئيسية لجامعة كفر الشيخ </p>
                <input type="button" value="الجائزة" class="event-button price">
                <input type="button" value="شارك الأن" class="event-button">
            </div>
        </div>
    </div>

    <!--footer-->
    <footer>
        <div class="footer-slid">
            <div class="social-container">
            <a href="#" class="social-logo"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-logo"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-logo"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copy-right">&copy; Copywrites &#124; true_team FyTy 2019 - 2020</p>
            <div class="">
                    <a href="#" class="footer-link">الرئيسية</a>
                    <a href="#" class="footer-link">جامعى</a>
                    <a href="#" class="footer-link">ثانوى</a>
                    <a href="#" class="footer-link">فرص عمل</a>
                    <a href="#" class="footer-link">دورات و تدريبات</a>
            </div>
        </div>
    </footer>

    <!--scripts-->

    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!--scroll-->
    <script src="js/scroll.js"></script>
</body>
</html>