{% extends 'base.html' %}

{% load static%}

{%block title%} courses{%endblock%}

{%block container%}

    <main id="section08">
        <div class="container">
            
            <!--section 1-->
            <div class="section">
                <div style="margin: auto;">
                    <p class="section-title">خدمات موقعنا الالكترونى</p>
                </div>
               
                {%for course in courses%}
                <div class="component col-md-4">
                    
                    <a href="{% url 'courses:all_course' course.pk%}"><img src="{{course.image.url}}" style="max-height: 300px;"><p class="service">{{course.cat_name}}</p></a>
                </div>
                {%endfor%}
    
               
            </div>
        </div>

       

       
{%endblock%}
   
