<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imgs/t-logo.png">
    <title>انشاء حساب</title>

    <!--links-->

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/6b245e2cb5.js" crossorigin="anonymous"></script>

    <!--cssFiles-->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/form.css">

</head>
<body>
    <header>
        <header>
            <nav class="container navbar navbar-expand-lg navbar-light">
                <a href="#" class="navbar-logo ml-3"><img src="imgs/logo.png" width="35px" height="35px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-5"></div>
                <div class="collapse navbar-collapse ml-5" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="home.html" class="nav-link">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a href="collage.html" class="nav-link">جامعى</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">ثانوى</a>
                        </li>
                        <li class="nav-item">
                            <a href="requests-send.html" class="nav-link">فرص عمل</a>
                        </li>
                        <li class="nav-item">
                            <a href="course.html" class="nav-link">دورات و تدريبات</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a href="sinin.html" class="btn menu-right-btn border" type="submit">تسجيل الدخول</a>
                    </form>
                </div>
            </nav>

        <div class="container-fluid p-0">
            <div class="site-content" style="height: 93vh;">
                <div class="bg-black-filter d-flex justify-content-center" style="height: 93vh;">
                    <div class="d-flex flex-column">
                    <div class="container underForm">
                        <form class="regist col-md-5">
                            <h2>تسجل الدخول</h2>
                            <input type="text" name="username" placeholder="اسم المستخدم" maxlength="20" required >
                            <hr>
                             <input type="text" name="email" placeholder="example@type.com" maxlength="20" required >
                             <hr>
                             <input type="password"name="password" placeholder="كلمه السر" maxlength="22" minlength="8" required>
                             <hr>
                             <input type="password" name="confirmpass" placeholder="اعد كتابة كلمه السر" maxlength="22" minlength="8" required>
                             <hr>
                             <select>
                             <option value="قسم"> اختار الكليه</option>
                             <option value="قسم"> ولا حاجه </option>
                             <option value="قسم">فاشل</option>
                             <option value="قسم">  انت مش نافع</option>
                             </select>
                             <hr>
                             <select>
                             <option value="قسم"> اختار القسم</option>
                             <option value="قسم"> ولا حاجه </option>
                             <option value="قسم">فاشل</option>
                             <option value="قسم">  انت مش نافع</option>
                             </select>
                             <hr>
                             <input class="button" type="submit" value="انشاء حساب" name="سجل الان" >
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </header>
    
    <!--scripts-->

    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/home.js"></script>
</body>
</html>